

  <!----------- My Header ----------->


  <div class="header">
    <header class="header navbar-wapmash"> <button class="header__button" id="btnNav" type="button">
        <h2> </h2> <i class="material-icons">menu</i>
      </button>
      <h2> </h2> <a href="/"><img src="/assets/img/logo.png" alt="logo" width="140" height="37" /></a>
      <h2></h2>
    </header>
  </div>
  </div>
  <nav class="nav preload">
    <div class="nav__links"> <div class="nav__links"> 
      
      <a class="nav__link" href="/"> <i class="material-icons">home</i> Home </a>
      <a class="nav__link" href="/search"> <i class="material-icons">search</i> Search </a>
      <a class="nav__link" href="/privacy_policy"> <i class="material-icons">policy</i> Privacy Policy </a>
      <a class="nav__link" href="/copyright"> <i class="material-icons">copyright</i> Copyright</a>
      <a class="nav__link" href="/about"> <i class="material-icons">info</i> About </a>
      <a class="nav__link" href="/logout"> <i class="material-icons">login</i> Account </a>
      
    </div>
    <div class="nav__overlay"></div>
  </nav>
  <script src="/js/menu/list.js"></script>
  </script></noscript>
